body {
  box-sizing: border-box;
  margin: 0;
  font-family: "Proxima Nova", sans-serif;
  background: rgb(97, 201, 210);
  background: linear-gradient(
    90deg,
    rgba(97, 201, 210, 1) 26%,
    rgba(17, 89, 103, 1) 100%
  );
}

.container {
  margin: auto;
  display: flex;
  height: fit-content;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.title {
  font-size: 40px;
  font-style: italic;
  color: whitesmoke;
  text-align: center;
  margin: 50px auto;
}

@keyframes opacityFullNone {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.text {
  width: 50%;
  height: 300px;
  list-style: none;
  padding: 0;
  animation: opacityFullNone 400ms ease;
  opacity: 0;
  margin: auto;
}

.hint-block {
  width: fit-content;
  height: 30px;
  margin: auto;
  margin-bottom: 20px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.show-text {
  opacity: 1;
  transition: 1s;
}

.tools-block {
  width: 45%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px auto;
}

.button {
  width: 40px;
  height: 40px;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  outline: none;
  content: "";
  display: flex;
  align-items: center;
}

.button:active {
  padding-bottom: 2px;
}

.button:first-child {
  background: url("./assets/start.svg") no-repeat transparent;
}

.button:nth-child(2) {
  background: url("./assets/refresh.svg") no-repeat transparent;
}

.button:nth-child(3) {
  background: url("./assets/timer.svg") no-repeat transparent;
}

.button:active {
  transform: translateY(1px);
}

.button:not(first-child):active {
  transform: rotate(180deg);
  transition: 0.7s;
}

.textarea {
  display: flex;
  justify-self: center;
  box-sizing: content-box;
  width: 50%;
  resize: none;
  border-radius: 15px;
  outline: none;
  border: none;
  overflow: hidden;
  font-family: inherit;
  font-size: 16px;
  overflow-wrap: break-word;
  padding: 10px;
  margin-top: 4px;
}

.textarea-colored {
  width: calc(inherit - 8px);
  height: calc(inherit - 8px);
  border-width: 4px;
  border-style: solid;
  border-color: white;
  margin-top: 0;
}

.clock {
  background: inherit;
  display: flex;
  width: 150px;
  height: 50px;
  border: 1px solid grey;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.clock:last-child {
  width: 120px;
}

@media screen and (max-width: 500px) {
  .container {
    margin: 0;
  }
  .title {
    font-size: 30px;
    margin: 20px;
  }
  .text {
    width: 90vw;
    margin: 20px;
    height: 40vh;
    overflow-x: scroll;
  }
  .textarea {
    width: 80vw;
  }
  .tools-block {
    position: relative;
    width: 80vw;
    justify-content: space-between;
  }
  .button {
    position: absolute;
    top: -70px;
    left: 40px;
  }
  .button:first-child {
    left: 0;
  }
  .button:nth-child(3) {
    display: none;
  }
}
